.SidebarOption {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0px 10px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	color: gray;
}
.SidebarOption > .MuiSvgIcon-root {
	padding: 5px;
}
.SidebarOption > h3 {
	flex: 1;
	margin-left: 10px;
	font-size: 16px;
	font-weight: 400;
}
.SidebarOption > p {
	display: none;
	font-weight: 300;
}
.SidebarOption:hover > p {
	display: inline;
}
.SidebarOption:hover,
.SidebarOption:hover > p,
.SidebarOption:hover > h3,
.sidebarOption--active > p,
.sidebarOption--active > h3,
.sidebarOption--active {
	background-color: #fcecec;
	color: red;
	font-weight: 800 !important;
}
.sidebarOption--active > p {
	display: inline !important;
}
